<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbstar.mapper.ContactMapper">

    <select id="select" parameterType="Integer" resultType="contact">
        SELECT * FROM contact WHERE id=#{id}
    </select>
    <select id="selectall" resultType="contact">
        SELECT * FROM contact
    </select>
    <insert id="insert" parameterType="contact">
        INSERT INTO contact VALUES (contact_seq.NEXTVAL,#{cust_id},#{email},#{msg},SYSDATE)
    </insert>
    <update id="update" parameterType="contact">
        UPDATE contact SET name=#{msg} WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM contact WHERE id=#{id}
    </delete>

</mapper>